{% extends "layout.html" %}

{% block title %}
Two Factor Authenticator
{% endblock %}

{% block body %}

<div class="centered" style="color: white;">
    <h1 class="Title" >
        Enabling Two Factor Authenticator (MFA)
    </h1>
    <h2>
        <u>What you will need:</u>
    </h2>
    <ul class="list_centered list-group">
        <li class="list-group-item list-group-item-primary" id="step1">
            A Laptop or a Desktop computer
        </li>
        <li class="list-group-item list-group-item-primary" id="step2">
            A Mobile Phone that is running either Android or IOS (Iphone)
        </li>
    </ul>

</div>

{% endblock %}