{% extends "layout.html" %}

{% block title %}
Outlook
{% endblock %}

{%block head %}
<!-- Include our button javascript -->
<script src="{{ url_for('static', filename='js/button_text_changer.js') }}"></script>
{% endblock %}

{% block body %}

<h1 class="title">
    Outlook/Mail Issues
</h1>

<ul class="list-inline centered">
    {% for item in items %}
    <li class="list-inline-item">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ item.card_title }}</h5>
        
                {% if "https://" in item.image or "http://" in item.image  %}
                <img src="{{ item.image }}" class="card-img-top"
                    alt="{{ item.alt }}" width="500" height="250">

                {% else %}
                <img src="{{ url_for('static', filename=item.image) }}" class="card-img-top"
                    alt="{{ item.alt }}" width="500" height="250">
                
                {% endif %}
                <p class="card-text">{{ item.card_text }}.</p>
                <p>
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapse{{ item.id }}" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Show Solution
                    </a>
                </p>
                <div class="collapse" id="collapse{{ item.id }}">
                    <div class="card card-body">
                        <a href="{{ item.card_body_href }}">
                            {{ item.card_body_text }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}