{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1 class="title" style="margin-top: 5%;">
    <br>

    Welcome to the Campus Support Team Knowledgebase!

</h1>

<h4 class="subtitle">
    <br>
    Below you will find some of the most common Issues
</h4>

<br>
<br>

<div class="all_common_issues">
    <ul class="list-inline title">
        {% for item in items %}
        <li class="list-inline-item" style="display:inline">
            <a href="{{  url_for(item.href) }}">
                <img src="{{ url_for('static', filename= item.image ) }}" alt="{{ item.alt }}" style="border-radius: 100px;background: none; width: 150px;  
                    height: 150px; ">
            </a>
            <br>

            <a class="navigation_decoration" href="{{ url_for(item.href) }}">
                {{ item.title }}
            </a>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}