{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1 class="title">
    Welcome to the Campus Support Team Knowledgebase!
</h1>

{% include "search_box.html "%}

<ul class=" list-inline title">
    {% for item in items %}
    <li class="list-inline-item">
        <a href="{{  url_for(item.href) }}">
            <img
                src="{{ url_for('static', filename= item.image ) }}"
                alt="{{ item.alt }}">
        </a>
        <br>
        <a class="navigation_decoration" href="{{ url_for(item.href) }}">
            {{ item.title }}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}