{% block searchbox %}

<!-- Search Box -->
<form class="centered" action="/search">
    <br>
    {% if override is defined %}
    <input type="text" name="q" id="q" value="{{ override }}" autofocus autocomplete="off">

    <!-- Set cursor to the end -->
    <script>
        let box = document.getElementById('q');
        const length = box.value.length;
        box.setSelectionRange(length, length);
    </script>
    
    {% else %} 
    <!-- 
        why id==q????
     -->
    <input type="text" name="q" id="q" placeholder="Search for help" autofocus autocomplete="off">
    {% endif %}
    
    <!-- useless
    <input type="submit" value="Search">
    -->
</form>
<!-- End of Search Box -->

{% endblock %}