<!DOCTYPE html>
<html>

<form class="centered" action="/search">
    <br>
    {% if override is defined %}
     <!-- input tag -->
     <input id="q" onkeyup="search_guide()" type="text"
     name="q" placeholder="Search for help.." value="{{ override }}" autofocus autocomplete="off">

</script>

    <!-- Set cursor to the end -->
    <script>
        let box = document.getElementById('q');
        const length = box.value.length;
        box.setSelectionRange(length, length);
    </script>
    
    {% else %} 
    
    <input id="q" onkeyup="search_guide()" type="text"
     name="q" placeholder="Search for help.."  autofocus autocomplete="off">
    {% endif %}

</form>

  
</html>
