{% extends "layout.html" %}
{% block title %}
Search
{% endblock %}
{% block body %}

{% include "search_box.html" %}

<table class="table accordion_centered">
    <thead>
        <tr>
            <th scope="col">Matching Title</th>
            <th scope="col">Description</th>
            <th scope="col">Location</th>
        </tr>
    </thead>
    <tbody>
        {% include "search_plain.html" %}
    </tbody>
</table>
<script src="{{ url_for('static', filename='js/search_box_on_input.js')}}"></script>

{% endblock %}